/* .app__header {
  display: none;
} */
.login {
  height: 100vh;
  background: #fafafa;
  display: flex;
}
.login__wrapper {
  width: 935px;
  margin: auto;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto;
  max-width: 935px;
  padding: 30px 0px;
}
.login__slider {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  background-image: url("https://www.instagram.com/static/images/homepage/home-phones.png/43cc71bb1b43.png");
  background-position: 0 0;
  background-size: 454px 618px;
  -webkit-flex-basis: 454px;
  -ms-flex-preferred-size: 454px;
  flex-basis: 454px;
  height: 618px;
  margin-left: -35px;
  margin-right: -15px;
}
.login__form {
  height: 100%;

  color: #262626;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 32px;
  max-width: 350px;
}

.login-form__card {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  background-color: rgba(var(--d87, 255, 255, 255), 1);
  border: 1px solid #dbdbdb;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 0;
}
/* 
Card Header */
.login-form__card {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  background-color: rgba(var(--d87, 255, 255, 255), 1);
  border: 1px solid #dbdbdb;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 0;
}
.login-form-card__header {
}
.login-form-card__header h1 {
  height: 51px;
  width: 175px;
  margin: 22px auto 12px;
  background-repeat: no-repeat;
  background-position: 0 -130px;

  background-image: url("../../../assets/images/icons.png");

  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}

/* Form */
.login-form-card__body {
  margin-top: 35px;
}
.form-group {
  overflow: hidden;
  margin: 0 40px 10px;
  border: 1px solid rgba(var(--ca6, 219, 219, 219), 1);
  border-radius: 3px;
}
.form-btn {
  overflow: hidden;
  margin: 14px 40px;
  border-radius: 3px;
}
.login-btn {
  cursor: pointer;
  padding: 5px 9px;
  width: 100%;
  border-radius: 4px;
  color: #fff;
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid transparent;
  background-color: #0095f6;
  outline: none;
}
/* Divider */
.login-form-card__divider {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 10px 40px 18px;
}
.login-divider__text {
  color: #8e8e8e;
  font-size: 13px;
  font-weight: 600;
  line-height: 15px;
  margin: 0 18px;
  text-transform: uppercase;
}
.login-divider__line {
  height: 1px;
  background-color: rgba(var(--b38, 219, 219, 219), 1);
  flex-grow: 1;
}

/* Card Footer */
.login-form-card__footer {
  margin: 8px 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login-form-card-footer__btn {
  color: #385185;
  position: relative;
  width: 100%;
  appearance: none;
  background: 0 0;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-weight: 600;
  padding: 5px 9px;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  user-select: none;
  outline: none;
}
.login-form-card-footer-btn__icon {
  background-image: url("../../../assets/images/icons.png");
  display: inline-block;
  margin-right: 8px;
  position: relative;
  top: 3px;
  background-repeat: no-repeat;
  background-position: -414px -259px;
  height: 16px;
  width: 16px;
}
.forgot-password__btn {
  outline: none;
  border: none;
  background: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  color: #00376b;
  cursor: pointer;
  font-size: 12px;
}
.signup-form__card {
  height: 63px;
  background: #fff;
  padding: 10px 0px;
  align-items: center;
  border: 1px solid #dbdbdb;
}
.signup-form__card span {
  font-size: 14px;
  line-height: 18px;
  padding: 0 40px;
}
