.post {
  margin-bottom: 60px;
  padding: 0px;
  border-radius: 3px;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  background-color: #fff;
  background-color: rgba(var(--d87, 255, 255, 255), 1);
}
.post__header {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 16px;
  border: 1px solid black;
  justify-content: space-between;
}
